
<br>
<br>
<table className="center">
    <thead>
        <tr>
            <th><h1>Id Factura</h1></th>
            <th><h1>Fecha Emision</h1></th>
            <th><h1>Descripcion</h1></th>
            <th><h1>Precio</h1></th>
            <th><h1>Total</h1></th>
            <th><h1>Id usuario</h1></th>
            <th><h1>Accion</h1></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor =" let factura of Factura">
            <td>{{factura.id}}</td>
            <td>{{factura.fecha}}</td>
            <td>{{factura.producto}}</td>
            <td>${{factura.precio}} .0</td>
            <td>${{factura.total}} .0</td>
            <td>{{factura.user_id}}</td>
            <td><button class="button" (click)="deleteFactura(factura.id)"><span>Delete</span></button></td>
        
        </tr>
    </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
