@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

table.center{
    margin-left: auto;
    margin-right: auto;
}
table{
    
    border: 1px solid gray;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th{
    padding: 15px;
    text-align: center;
    font-size: x-large;
    font-family: 'Nunito', 'sans-serif';
    background-color: rgb(127, 174, 218);

}
td{
    padding: 15px;
    text-align: center;
    font-size: x-large;
    font-family: 'Nunito', 'sans-serif';
    border: 1px solid black;
}
h1{
    font-size: x-large;
    font-family: 'Nunito', 'sans-serif';
}
