<br>
<br>
<table className="center">
    <thead>
        <tr>
            <th><h1>Nombre</h1></th>
            <th><h1>Apellido</h1></th>
            <th><h1>Correo</h1></th>
            <th><h1>Telefono</h1></th>
            <th><h1>Accion</h1></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor =" let user of User">
            <td>{{user.username}}</td>
            <td>{{user.apellido}}</td>
            <td>{{user.correo}}</td>
            <td>{{user.telefono}}</td>
            <td><button class="button" (click)="deleteUser(user.id)"><span>Delete</span></button></td>
        </tr>
    </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
